{% extends 'base.html' %}
{% load static %}
{% block body_content %}
    <div class="bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
                <div class="col-md-4 mx-auto">
                    <div class="osahan-login py-4">
                        <div class="text-center mb-4">
                            <a href="{% url 'index' %}"><img src="{% static 'img/favicon.ico' %}" alt=""></a>
                            <h5 class="font-weight-bold mt-3"></h5>
                            <p class="text-muted">请重新输入密码</p>
                        </div>

                        <form action="{% url 'user:login' %}" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="mb-1">密码</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-lock position-absolute"></i>
                                    <input type="password" id="pw1" name="password" required="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">确认密码</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-lock position-absolute"></i>
                                    <input type="password" id="pw2" name="password" required="" class="form-control">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" id="submit-data" type="submit">确认</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}